<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task List</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                <p>
                    <a href="{% url "create_project" %}">Create Project</a>
                </p>
                {% if task_list|length > 0%}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in task_list %}
                                <tr>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.start_date}}
                                    </td>
                                    <td>
                                        {{item.due_date}}
                                    </td>
                                    <td>
                                        {% if item.is_complete is False %}
                                            <form method="post" action="{% url 'complete_task' item.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="is_complete" value="True">
                                                <button>Complete</button>
                                            </form>
                                        {% else %}
                                            {{item.is_complete|yesno:"Done"}}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>